@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Space+Mono&display=swap");

/* Fonts */
$family-primary: "DotGothic16", -apple-system, system-ui, BlinkMacSystemFont,
  Arial, sans-serif;
$family-secondary: "Space Mono", -apple-system, system-ui, BlinkMacSystemFont,
  Arial, sans-serif;

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 4%);

$scheme-main: $black;
$scheme-invert: $white;

/* Colors */
$primary: $white;
$secondary: $white;

@import "bulma/bulma";
